
export NETBOX_TOOLS_DIR="$( dirname "${BASH_SOURCE[0]}" )"

# custom ca root
#export REQUESTS_CA_BUNDLE="/home/user/foo/ansible/files/ca/cacert.pem"

. $NETBOX_TOOLS_DIR/venv/bin/activate

export NETBOX_TOKEN="xxx"
export NETBOX_API_URL="https://ipam.example.com/"

# optional defaults
export NETBOX_DEFAULT_TENANT="customer"
export NETBOX_DEFAULT_SITE="site-x"
export NETBOX_DEFAULT_CLUSTER="cluster-prod"
#export NETBOX_SHORT_UUIDS=True

export PS1='(netbox) \[\e[1;17m\]\u@\h\[\e[0m\] \W > '

export PATH="$PATH:$NETBOX_TOOLS_DIR"

# socks proxy
#echo "using sock5h://0:8000"
#echo "don't forget to run:"
#echo "  ssh -D 8000 ssh-hopper"
#export https_proxy=socks5h://0:8000
